parameters:
	ignoreErrors:
		-
			message: '#^Trait OpenDxp\\Bundle\\AdminBundle\\Controller\\Traits\\DocumentTreeConfigTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/DocumentTreeConfigTrait.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: src/DependencyInjection/OpenDxpAdminExtension.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/DependencyInjection/OpenDxpAdminExtension.php

		-
			message: '#^Trait OpenDxp\\Bundle\\AdminBundle\\EventListener\\Traits\\ControllerTypeTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/EventListener/Traits/ControllerTypeTrait.php
